/ Add here all your css styles (customizations) /
body{
    font-family: 'Raleway', sans-serif;

}
img{
    max-width: 100%;
}
.bl-bg{
    background:#2e3092;

}
.bl-clr{
    color: #2e3092;
}
.divder {
    border: 1px solid #2e3092;
    width: 15%;
}
.full-divider {
    border: 1px solid #255280;
}
/*Start Header Style */

    .u-header{
        transition-property: all;
        transition-timing-function: ease;
        transition-delay: 0s;
        transition-duration: .3s;
    }

    .u-header__section {
        padding: 10px 0;
    }

    .u-header__section .u-header__logo img{
        max-width: 160px;
    }

    .u-header__section .white-logo{
        opacity: 0;
        visibility: hidden;
        height: 0;
    }

    .fixed-header{
        background-color: rgba(49, 53, 62, 0.8);
    }

    .fixed-header .u-header__section{
        padding:5px 0;
    }

    .fixed-header .u-header__section .white-logo{
        opacity: 1;
        visibility: visible;
        height: auto;
        max-width: 120px;
    }

    .fixed-header .u-header__section .logo-img{
        opacity: 0;
        visibility: hidden;
        height: 0;
    }
/*End Header Style */

/*Start Inner Banner Style*/
    .inner-banner{
        position: relative;
    } 

    .inner-banner-img{
        background-repeat: no-repeat;
        background-size: cover;
        height: 100%;
        width: 100%;
    }

    .inner-banner-img-wrapper {
        position: absolute;
        top: 0;
        height: 100%;
        left: 0;
        width: 100%;
    }
    
    .inner-banner-titlebar {
        padding-top: 100px;
        padding-bottom: 100px;
        text-align: center;
    } 

    .inner-banner-titlebar h1{
        color: #fff;
        font-weight: 700;
        font-size: 60px;
    } 
/*End Inner Banner Style*/

/*Video Section Style*/
.parallax {
    position: relative;
    background-size: cover;
    overflow: hidden;
    background-attachment: fixed;

}
.modal-content{
  background-color: transparent;
}
.modal-dialog{
max-width: 100%;
}
.opacity-extra-medium {
    position: absolute;
    height: 100%;
    width: 100%;
    opacity: 0.5;
    top: 0;
    left: 0;
}
.modal-header span {
    color: #fff;
    font-size: 40px;
    font-weight: 200;
}
.position-relative {
    position: relative !important;
}
.center-col{
        float: none;
    margin-left: auto;
    margin-right: auto;
}
.parallax img {
    width: 128px;
    height: 128px;
}
/*@media (min-width: 768px){*/
.f-desk-img {
    background-image: url('../../assets/img/video-bg.jpg');
}
/*}*/
/*End Video Section Style*/


/*Counter Section Style*/

#counter-section {
    background: #2e3092;
}
.count-title {
    font-size: 30px;
    font-weight: normal;
    margin: 0;
    text-align: center;
    color: #fff;
}

.count-text {
    font-size: 15px;
    margin-top: 0;
    margin-bottom: 0;
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
}
.coun-border-right{
border-right: 1px solid #fff;
}
/*End Counter Section Style*/

/*Start Footer Style*/

.menu-list {
    list-style: none;
}

.menu-title {
    font-size: 18px;
    color: #2e3192;
    font-weight: 600;
}

 .menu-item {
    line-height: 30px;
}

.menu-item a {
    font-size: 14px;
    color: #58585b;
    font-weight: 500;
    text-decoration: none;
}

.menu-item a:hover{
    color: #2e3192;
}

.footer-2 .single_image-wrapper img {
    max-width: 25%;
}

.social-icon li a {
    width: 30px;
    height: 30px;
    padding: 5px;
    color: #fff;
    border-radius: 50%;
}

.social-icon li a:hover {
    box-shadow: 0 5px 10px rgba(0,0,0,.1);
    -webkit-transform: translate(0,-2px);
    transform: translate(0,-2px);
}

.facebook-icon {
    background-color: #3b5998;
}

.twitter-icon{
    background-color: #1da1f2;
}

.linkedin-icon{
    background-color: #0077b5;
}

.instagram-icon{
    background-color: #000;
}

.youtube-icon{
    background-color:red;
}

.footer-desc{
    font-size: 14px;
    line-height: 1.5;
    font-weight: 500;
    color: #58585b;
}

/*End Footer Style*/

/*Start Bages Style*/

.shortcuts-bages{
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
}

.shortcuts-bages ul{
    padding:0;
    margin:0;
    list-style: none;
}

.shortcuts-bages li{
    margin-bottom: 10px;
}

.shortcuts-bages li a{
    display: block;
    color:#fff;
    font-size:15px;
    padding:10px 30px;
}

.shortcuts-bages li a:hover{
    text-decoration: none;
}
/*End Bages Style*/

/*Start Case Study Style*/
.case-study-wrapper {
   background: linear-gradient(90deg, rgba(46, 48, 146, 1) 0.3184713375796178%, rgba(46, 48, 146, 0.8) 100%), url('../../assets/img/case-bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.case-heading-content h2 {
    font-size: 30px;
    font-weight: 500;
}
.case-heading-content span{
    font-size:20px;
    font-weight: 500;
}
.case-btn button {
    background: transparent;
    color: #fff;
    border: 2px solid #fff;
    outline: none;
    border-radius: 50px;
    padding: 10px 44px;
    font-size: 16px;
}
.case-btn button:hover{
    background:#fff;
    color: #2e3092;
}

/*End Case Study Style*/

/*Start Protfolio Style*/
.quote-port-cta {
    background: #2e3092;
}

.quote-port-cta .secondary-bg:before,
.quote-port-cta .secondary-bg.active:before{
    content: '';
    transition: all .2s ease;
    -webkit-transition: all .2s ease;
    -moz-transition: all .2s ease;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 0;
    background: #58585b;
    position: absolute;
}

.quote-port-cta:hover .secondary-bg:before,
.quote-port-cta .secondary-bg.active:before{
    height: 100%;
}

.quote-port-cta:hover .secondary-bg.active:before{
    height: 0;
}

/*Start Footer Form Style*/
.subscribe-form{align-items: normal;}
.subscribe-form .form-group{width:70%;}

.subscribe-form .form-group input { width:100%; height:40px;}
/*End Footer Form Style*/


/*Start About Page Style*/

.content-with-image strong {
    font-size: 16px;
    color: #2694e0;
}
.content-with-image {
    background: #f7f7f7;
}
.our-value-sec h2, .ct-re-section h2, .about-blg-section h2, .content-with-image h2  {
    font-size: 35px;
}
.customer-rev-box {
    background: #0a345f;
}
.rev-box-rap p {
    line-height: 30px;
}
.ab-rev-star i {
    background: #fff;
    padding: 6px;
    border-radius: 5px;
    font-size: 18px;
}
.ab-rev-star .g-rating-forward, .slide-rev .g-rating-forward{
    z-index: 9;
}
.rev-box-rap{
        padding: 20px;
}
.slide-rev i {
    color: #2e3092;
    background: #fff;
    padding: 2px;
    font-size: 12px;
    border-radius: 3px;
}
.ct-re-section .js-next{
    top: -127px;
    background: #000 !important;
}
.ct-re-section .js-prev{
    right: 50px;
    top: -127px;
    background: #000 !important;
    left: auto !important;
}
/*End About Page Style*/
@media screen and (min-width: 768px) and (max-width: 992px){
    .quote-port-cta p {
        font-size: 12px;
    }
    .quote-port-cta h3 {
        font-size: 18px;
    }
}

@media screen and (max-width: 767px){
    .secondary-bg{
        margin: 0 -15px;
        max-width: calc(100% + 30px);
        flex: 0 0 calc(100% + 30px);
    }

    .shortcuts-bages li a {
        padding: 5px 15px;
    }
    .shortcuts-bages {
        top: 75%;
        transform: translateY(-70%);
    }
    .ct-re-section .js-next, .ct-re-section .js-prev {
        top: auto;
        bottom: -28px;
        height: 30px;
        width: 30px !important;
    }
    .our-value-sec h2, .ct-re-section h2, .about-blg-section h2, .content-with-image h2  {
        font-size: 25px;
    }
}

/*End Protfolio Style*/
