.medical-sec{
	position: relative;
}

.medical-lists{
    max-height: 100vh;
    overflow-y:scroll;
    padding:20px 0;
}

.medical-item:first-child {
    margin-top:0;
}

.medical-item {
    box-shadow: 0px 1px 6px rgba(0,0,0,.1);
    padding: 4px;
    margin: 20px 0;
}

.medical-item > a {
    display: flex;
    flex-wrap: wrap;
    text-decoration: none;	
}
.center-logo {
    flex: 0 0 22%;
    max-width: 22%;
}

.center-desc {
    flex: 0 0 78%;
    max-width: 78%;
    padding: 5px 15px;
}

.center-desc h4 {
    font-size: 20px;
    font-weight: 700;
    color: #2e3092;
    line-height: 1;
    margin-bottom: 5px;
}

.center-desc > p {
    color: #585858;
    font-size: 15px;
    line-height: 1.5;
    margin-bottom: 30px;
}

.center-contact p {
    font-size: 18px;
    margin: 0;
    line-height: 1.5;
}

.center-contact p i{
	font-size: 25px;
    vertical-align: sub;
}

.medical-center-map{
	height:100vh;
    width: 100%;
}

.medical-center-map iframe{
	height: 100%;
	width:100%;
}